<!DOCTYPE html>
<html>
<head>
  <title>BffService</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <%= yield :javascript %>
</head>
<body>
<div class="wrapper">
	<h1>Bus Frequency Tracking System</h1>
	<%= yield %>
</div>


</body>
</html>


